@font-face {
    font-family: "comfortaa";
    src: url("/style/font/Comfortaa-VariableFont_wght.ttf");
}

@font-face {
    font-family: "roboto";
    src: url("/style/font/RobotoFlex-VariableFont_GRAD,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf");
}

*{
    font-family: "comfortaa";
}

h1{
    font-family: 'comfortaa';
}

.x-font{
    font-family: 'roboto';
}

button {
    padding: 0 1rem;
    margin: 0.4rem;
    font-size: 1.5rem;
    white-space: nowrap;
    width: 20rem;
    background-color: white;
    border: 1px solid black;
}

/* #contentholder__{
    transition: all ease 5s;
}
#right__{
    transition: all ease 5s;
} */
.holder__ {
    background: white;
}

img{
    width: 18rem;
}